.title-cont {
    font-family: 'Gamja Flower', cursive;
    /* font-family: 'Pacifico', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Merienda', cursive;
    font-family: 'Patrick Hand', cursive; */
    display: block;
    font-size: 1.5em;
    color: #ffffff;
    position: relative;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    transition: 2s all;
    z-index: 1;
    background: #ed3c63;
    padding: 0 10px;
    width: 200px;
    text-align: center;
    border-radius: 20px;

}
.slogan {
    background-color: black;
    color: #ed3c63;
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%);
    font-size: 22px;
    padding: 5px 25px;
    border-radius: 50px;
    white-space: nowrap;
}

.heart-img {
    width: 50px;
    margin-right: 10px;
}

.heart-img, path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: brush 5s linear alternate infinite;
}

@keyframes brush {
    from {
        stroke-dashoffset: 1000;
      }
      to {
        stroke-dashoffset: 0;
      }
}