.timer {
    position: absolute;
    font-family: 'Gamja Flower', cursive;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.top-left {
    top:0;
    left: 0;
}

.timer-devider {
    float: left;
    font-size: 20px;
    padding:0 5px;
    color: #E91E63;
}

.bottom-right {
    bottom:0;
    right: 0;
}

.top-right {
    top:0;
    right: 0;
}

.timer-continer {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 30px;
    color: #9E9E9E;
}

.timer-date {
    float: left;
}

.timer-month {
    float: left;
}

.timer-year {
    float: left;
}

.days {
    color: #E91E63;
}