.App {
  text-align: center;
  background-color: #000000;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.monts_list {
  display: block;
  margin-top: 10px;
}

.monts_list div {
  display: inline-block;
  position: relative;
  margin: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: #dd5574;
}

.monts_list div:hover {
  color: #fff;
} 

.monts_list div:hover label {
  color: #dd5574;
} 

.monts_list div i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  transform: translate(-50%, -50%);
}

.monts_list div label {
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.transation_all {
  transition: 1s all;
}

.imgss {
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);

}

.background_img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

